## Bank_Loan_analysis Using Python

#### Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

#### Import the data

In [2]:
df = pd.read_csv('financial_loan.csv')

In [3]:
df.head(10)

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835
5,1062608,CA,INDIVIDUAL,3 years,Studio 94 Corp,C,RENT,17-07-2021,16-03-2021,12-08-2021,...,C3,36 months,Not Verified,28000.0,0.1260,275.96,0.1465,8000,11,8637
6,1067441,TX,INDIVIDUAL,10+ years,American Airlines,C,MORTGAGE,19-11-2021,14-06-2021,13-12-2021,...,C2,36 months,Verified,94800.0,0.2453,205.86,0.1427,6000,30,7218
7,1066424,PA,INDIVIDUAL,10+ years,SCI Mahanoy,A,OWN,11-06-2021,14-07-2021,14-07-2021,...,A4,36 months,Source Verified,59000.0,0.0665,172.10,0.0790,5500,23,6172
8,1065254,FL,INDIVIDUAL,10+ years,Tech Data Corp,A,MORTGAGE,02-09-2021,15-06-2021,12-10-2021,...,A5,36 months,Verified,116400.0,0.0394,762.08,0.0890,24000,31,8650
9,1064589,MI,INDIVIDUAL,10+ years,teltow contracting,B,MORTGAGE,09-02-2021,16-03-2021,16-03-2021,...,B5,60 months,Not Verified,36000.0,0.1773,93.21,0.1269,4125,21,5551

#### Complete Analysis

In [ ]:
# print the number of rows
print('No of Rows:',df.shape[0])
# shape[0] => represent Rows

No of Rows: 38576

In [9]:
# number of columns
print('Number of Columns:',df.shape[1])
# shape [1] => represent the column

Number of Columns: 24

In [11]:
# info of all the data 
df.info

<bound method DataFrame.info of             id address_state application_type emp_length  \
0      1077430            GA       INDIVIDUAL   < 1 year
1      1072053            CA       INDIVIDUAL    9 years
2      1069243            CA       INDIVIDUAL    4 years
3      1041756            TX       INDIVIDUAL   < 1 year
4      1068350            IL       INDIVIDUAL  10+ years
...        ...           ...              ...        ...
38571   803452            NJ       INDIVIDUAL   < 1 year
38572   970377            NY       INDIVIDUAL    8 years
38573   875376            CA       INDIVIDUAL    5 years
38574   972997            NY       INDIVIDUAL    5 years
38575   682952            NY       INDIVIDUAL    4 years

                             emp_title grade home_ownership  issue_date  \
0                                Ryder     C           RENT  11-02-2021
1                       MKC Accounting     E           RENT  01-01-2021
2                Chemat Technology Inc     C           RENT  05-01-2021
3                  barnes distribution     B       MORTGAGE  25-02-2021
4                        J&J Steel Inc     A       MORTGAGE  01-01-2021
...                                ...   ...            ...         ...
38571         Joseph M Sanzari Company     C       MORTGAGE  11-07-2021
38572                        Swat Fame     C           RENT  11-10-2021
38573  Anaheim Regional Medical Center     D           RENT  11-09-2021
38574               Brooklyn Radiology     D           RENT  11-10-2021
38575                    Allen Edmonds     F           RENT  11-07-2021

      last_credit_pull_date last_payment_date  ... sub_grade        term  \
0                13-09-2021        13-04-2021  ...        C4   60 months
1                14-12-2021        15-01-2021  ...        E1   36 months
2                12-12-2021        09-01-2021  ...        C5   36 months
3                12-12-2021        12-03-2021  ...        B2   60 months
4                14-12-2021        15-01-2021  ...        A1   36 months
...                     ...               ...  ...       ...         ...
38571            16-05-2021        16-05-2021  ...        C1   60 months
38572            16-04-2021        16-05-2021  ...        C1   60 months
38573            16-05-2021        16-05-2021  ...        D5   60 months
38574            16-05-2021        16-05-2021  ...        D5   60 months
38575            16-05-2021        16-05-2021  ...        F3   60 months

       verification_status annual_income     dti installment int_rate  \
0          Source Verified       30000.0  0.0100       59.83   0.1527
1          Source Verified       48000.0  0.0535      109.43   0.1864
2             Not Verified       50000.0  0.2088      421.65   0.1596
3          Source Verified       42000.0  0.0540       97.06   0.1065
4                 Verified       83000.0  0.0231      106.53   0.0603
...                    ...           ...     ...         ...      ...
38571             Verified      100000.0  0.1986      551.64   0.1299
38572             Verified       50000.0  0.0458      579.72   0.1349
38573             Verified       65000.0  0.1734      627.93   0.1749
38574             Verified      368000.0  0.0009      612.72   0.1825
38575             Verified       80000.0  0.0600      486.86   0.2099

       loan_amount  total_acc  total_payment
0             2500          4           1009
1             3000          4           3939
2            12000         11           3522
3             4500          9           4911
4             3500         28           3835
...            ...        ...            ...
38571        24250         33          31946
38572        25200         18          31870
38573        25000         20          35721
38574        24000          9          33677
38575        18000          7          27679

[38576 rows x 24 columns]>

In [12]:
 # find all the data types of the code
df.dtypes

id                         int64
address_state             object
application_type          object
emp_length                object
emp_title                 object
grade                     object
home_ownership            object
issue_date                object
last_credit_pull_date     object
last_payment_date         object
loan_status               object
next_payment_date         object
member_id                  int64
purpose                   object
sub_grade                 object
term                      object
verification_status       object
annual_income            float64
dti                      float64
installment              float64
int_rate                 float64
loan_amount                int64
total_acc                  int64
total_payment              int64
dtype: object

In [13]:
# change the dtype of date format 
df['issue_date'].dtype

dtype('O')

In [14]:
df['issue_date'] = pd.to_datetime(
    df['issue_date'],
    format='%d-%m-%Y',
    errors='coerce'
)

In [15]:
df['issue_date'].dtype

dtype('<M8[ns]')

In [16]:
# convert the last credit pull date 
df['last_credit_pull_date'] = pd.to_datetime(
    df['last_credit_pull_date'],
    format='%d-%m-%Y',
    errors='coerce'
)

In [17]:
# convert the last_payment_date
df['last_payment_date'] = pd.to_datetime(
    df['last_payment_date'],
    format='%d-%m-%Y',
    errors='coerce'
)

In [18]:
# convert the next_payment_date
df['next_payment_date'] = pd.to_datetime(
    df['next_payment_date'],
    format='%d-%m-%Y',
    errors='coerce'
)

In [19]:
# review the dtype
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

In [21]:
# check if there are any invalid or missing dates 
df[['issue_date','last_credit_pull_date','last_payment_date','next_payment_date']].isnull().sum()

issue_date               0
last_credit_pull_date    0
last_payment_date        0
next_payment_date        0
dtype: int64